body{
    background-color: #14213d;
    font-family:"Nunito",sans-serif;
}
#navbar .nav-item .nav-link{
    color:#e5e5e5;
}
#navbar .nav-item .nav-link:hover,#navbar .nav-item .nav-link::selection{
    color:#fcbf49;
    text-shadow: 2px 2px 8px #e5e5e5;
    font-weight:600;
}
#navbar .navbar-brand{
    font-weight:500;
    font-size:1.8rem;
    color:#e5e5e5;
    font-family:"Luckiest Guy";
    letter-spacing:1px;
}
#navbar{
    background-color:black;
}
.dropdown-item{
    background:#081c15;
    color:white;
    border-bottom: 1px solid silver;;
}
.dropdown-item:nth-last-child(1){
    border-bottom: none;
}
.dropdown-menu{
    background-color:#081c15;
    border:1px solid silver;
    border-top:none;
    border-radius:10px;
    box-shadow: 1px 1px 10px silver;
}
.dropdown-item:hover,.dropdown-item::selection{
    color:#fcbf49;
    text-shadow: 2px 2px 8px #e5e5e5;
    font-weight:600;
    background-color:#081c15;
}

#info-card .card{
    background-color:rgb(24, 19, 19);
    color:#e5e5e5;
    border:1px solid silver;
    box-shadow: -1px 1px 10px purple;
    border-radius: 20px;
    margin-top:100px;
    width:100% !important;
}
.list-group-item{
    background-color:rgb(24, 19, 19);
    border:1px solid silver;
}
.fa-linkedin,.fa-github,.fa-kaggle,.fa-facebook{
    color:white;
}
.title{
    text-shadow: 1px 1px #ffae44;
    font-size:105%;
}
.main-title{
    text-shadow:2px 2px blueviolet;
    font-size: 2.5rem;
    font-weight: 700;
}
img.profile-photo{
    border-bottom:solid silver;
}
.card-link{
    color:white;
}
.card-link:hover{
    color:rgb(127, 139, 245);
    font-size: 103%;
}
.active{
    color:#fcbf49 !important;
}
